@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');  /** Poppins Font **/


/** gobal layout */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --primary-color: #5344db;
    --accent-color: #5344db;
    --grey:#484848;
    --bg-grey: #efefef;
    --smallfontcolor: #B9BBBF;
    --bg-blue: #3A4980;
    --shadow: #949494;
}


.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row{
    display: flex;
    gap: 20px;
}

.col-6{
    width: 50%;
}

.single-product{
    width: 1080px;
    position: relative;
}

.company, h4,p{
    color: var(--smallfontcolor);
}

/** product image **/

.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 480px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-image-slider{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.product-image-slider img{
    width: 90px;
    height: 90px;
    background: var(--bg-grey);
    padding: 6px;
    cursor: pointer;
}

/** product title **/

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}


/** Product price **/
.product-price{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
    /* align-items: center; */
}

.product-price .offer-price{
    font-size: 48px;
    font-weight: 700;
}
.product-price .sale-price{
    font-size: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--grey);
    margin-left: 12px;
}

/* Discount Percentage */
.discount-perc{
    color: #FF000080;
}

/** Product Details **/
.product-details{
    margin: 10px 0;
}
.product-details h3{
    font-size: 18px;
    font-weight: 500;
}
.product-details p{
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.2rem;
}

/** Product size **/
.product-size{
    margin: 10px 0;
}
.product-size h4{
    font-size: 16px;
    font-weight: 500;
}

.product-size .size-layout{
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.product-size .size-layout .size-input{
    /* display: none; */
}
.product-size .size-layout .size{
    background: var(--bg-grey);
    padding: 10px 18px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.product-size .size-layout .size:hover{
    border: 1px solid var(--grey);
}

.product-size .size-layout input[type="radio"]:checked + .size{
    background-color: rgb(35, 35, 35);
    border: 1px solid var(--grey);
    color: var(--bg-grey);
    box-shadow: 0 3px 6px var(--shadow);

}


/** Product Color **/
.product-color{
    margin: 10px 0;
    justify-content: center;
}
.product-color h4{
    font-size: 16px;
    font-weight: 500;
}
.product-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.product-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.product-color .color-layout .green{
    
    background-color: #BBD278;
}

.product-color .color-layout .pink{
    background-color: #FFD3F8;
}
.product-color .color-layout .blue{
    background-color: #BBC1F8;
}
.product-color .color-layout .yellow{
    background-color: #ECDECC;
}

.product-color .color-layout input[type="radio"]:checked + label {
    border: solid 3px transparent; /* Set border initially as transparent */
    outline: solid 3px white;
    outline-offset: -5px;
}

.product-color .color-layout input[type="radio"]:checked + label.yellow {
    border-color: #ECDECC; /* Set border color for yellow */
}

.product-color .color-layout input[type="radio"]:checked + label.green {
    border-color: #BBD278; /* Set border color for green */
}

.product-color .color-layout input[type="radio"]:checked + label.blue {
    border-color: #BBC1F8; /* Set border color for blue */
}

.product-color .color-layout input[type="radio"]:checked + label.pink {
    border-color: #FFD3F8; /* Set border color for pink */
}


.size-wrapper{
    display: flex;
    gap: 5px;
    background-color: #efefef;
    padding: 8px;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 14px;
    transition: all 0.3s ease;
}
/* Apply background color to size-wrapper when size-input is checked */
.size-wrapper.checked {
    background-color: #EDF0F8;
    color: #3A4980;
}



.product-color .color-layout .color-input{
    display: none;
}


/** divider **/
.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
    display: flex;
    gap: 15px;
    
}
.product-btn-group .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn-group .buy-now{
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.product-btn-group .buy-now i{
    font-size: 20px;
}
.product-btn-group .buy-now:hover{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group .add-cart{
    
    background-color: var(--bg-blue);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: 309px;
}
.product-btn-group .add-cart i{
    font-size: 20px;
}
.product-btn-group .add-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #fff;
}
.product-btn-group .heart{
    color: var(--grey);
    cursor: pointer;
}
.product-btn-group .heart i{
    font-size: 20px;
}
.product-btn-group .heart:hover{
    color: var(--accent-color);
}

/* button group extended  */

.counter {
  width: 169px !important;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef  !important;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #efefef;
    color: #3A4980;
    appearance: none;
    outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #3A4980;
  user-select: none;
}

/* Style for add-to-cart message */
#add-to-cart-message {
    display: none;
    background-color: #E7F8B7;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}



/** Responsive Mobile **/
@media screen and (max-width:520px) {
    .container{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
        height: 280px;
    }
    .product-image-slider{
        gap: 5px;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .product-btn-group .add-cart {
        background-color: var(--bg-blue);
        color: white;
        border-radius: 30px;
        cursor: pointer;
        width: 309px;
        width: 100%;
    }
}

/** Responsive Tablet **/
@media  (min-width: 520px ) and (max-width: 1080px) {
   .container{
    display: block;
    height: auto;
    padding: 20px;
   }
   .product-btn-group .add-cart {
    background-color: var(--bg-blue);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
}
    
}